ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    border: 3px
}
.input-padrao {
    text-align: center;
}
footer {
    text-align: center;
    background: url(/imagens/bg.jpg);
    padding: 40px 0;
}
.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px;
}